.cont {
  display: flex;
}

@media (max-width: 768px) {
  .cont {
    flex-direction: column;
  }

}

.gallows {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.gallows .head {
  top: 150px;
  right: 0;
}

.gallows .body {
  top: 250px;
  right: 50px;
}

.gallows .hand-one {
  top: 270px;
  right: 50px;
}

.gallows .hand-two {
  top: 270px;
  right: -14px;
}

.gallows .leg-one {
  top: 375px;
  right: 50px;
}

.gallows .leg-two {
  top: 375px;
  right: -14px;
}

@media (max-width: 768px) {
  .gallows {
    justify-content: center;
    width: 122px;
    margin: 0 auto;
  }

  .gallows img {
    height: 200px;
  }

  .gallows .head {
    top: 50px;
    right: 0;
    height: 35px
  }

  .gallows .body {
    top: 85px;
    right: 17px;
    height: 45px
  }

  .gallows .hand-one {
    top: 90px;
    right: 17px;
    height: 25px
  }

  .gallows .hand-two {
    top: 90px;
    right: -3px;
    height: 25px
  }

  .gallows .leg-one {
    top: 128px;
    right: 17px;
    height: 25px
  }

  .gallows .leg-two {
    top: 128px;
    right: -3px;
    height: 25px
  }
}

.keyboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 80%;
}

.keyboard__btn {
  width: 35px;
  height: 25px;
  border: solid 2px cornflowerblue;
  border-radius: 3px;
  background-color: azure;
  font-size: 15px;
}

.keyboard__btn.correct {
  border-color: teal;
  background-color: olivedrab;
}

.keyboard__btn.incorrect {
  border-color: chocolate;
  background-color: lightcoral;
}


button {
  margin: 10px;
}

.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 355px);
}

.quiz p {
  text-align: center;
}

@media (max-width: 768px) {
  .quiz {
    width: 100%
  }
}

.word {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: 20px;
}

.question {
  font-size: 20px;
}

.attempt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.attempt span {
  margin-left: 10px;
}

.letter {
  display: flex;
  height: 20px;
  width: 30px;
  margin: 10px;
  border-bottom: 2px solid teal;
  font-size: 18px;
}

.popup {
  display: none;
  width: 400px;
  height: 250px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: tan;
  z-index: 5;
  border-radius: 5px;
}

.popup_showed {
  display: flex;
  position: fixed;
}

.popup__content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .popup {
    width: 65%
  }
}

@media (max-width: 425px) {
  .popup {
    width: 90%
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay_showed {
  display: flex;
}

.button {
  padding: 5px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
